<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
    <body>

        <h1>Spring Boot Properites file</h1>
        <table>
            Menu:
            <ul th:if="${menus != null && !menus.empty}">
                <li th:each="menu: ${menus}" th:text="${menu}"></li>
            </ul>
            <tr>
                <td>Name:</td>
                <td><p th:text="${name}">Default Name</p></td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><p th:text="${website}">Default Website</p></td>
            </tr>
            <tr>
                <td>Facebook:</td>
                <td><p th:text="${facebook}">Default Facebook</p></td>
            </tr>
            <tr>
                <td>Message:</td>
                <td><p th:text="${message}">Default Message</p></td>
            </tr>
        </table>

        <h1>Environment</h1>
        <p th:text="${environment}" />

        <br/>
        <h2>Spring Boot + Twitter Bootstrap</h2>
        <br/>

        <div style="width: 50%">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Success!</strong>
            </div>
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Info!</strong>
            </div>
            <div class="alert alert-warning alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Warning!</strong>
            </div>
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Danger!</strong>
            </div>
        </div>

    </body>
</html>